{% load staticfiles %}
{#<div style="background-image: url({% static 'images/hospitalbackground.jpg' %});height: 100%">#}
<h1 align="center" style="font-style: oblique;color: red">NATIONAL HOSPITAL</h1>

<table align="center" border="0">
    <tr bgcolor="#4CAF50">
        <th width="100"><a href="{% url 'home' %}" style="color: #f1f1f1">HOME</a></th>
        <th><meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
            <div class="dropdown">
            <button class="dropbtn">DOCTORS</button>
            <div class="dropdown-content">
                <a href="{% url 'regdoc' %}">ADD DOCTOR</a>
                <a href="{% url 'viewdoc' %}">VIEW DOCTORS</a>
            </div>
        </div></th>
        <th width="150">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>

<div class="dropdown">
  <button class="dropbtn">EMPLOYEES</button>
  <div class="dropdown-content">
    <a href="{% url 'regemp' %}">ADD EMPLOYEE</a>
    <a href="{% url 'viewemp' %}">VIEW EMPLOYEES</a>
  </div>
</div>

        </th>
{#        <th width="100"><a href="#" style="color: #f1f1f1">PATIENT</a></th>#}
        <th width="100"><a href="{% url 'logout' %}" style="color: #f1f1f1">LOGOUT</a></th>
    </tr>
</table>
{#</div>#}