{% load staticfiles %}
<div style="background-image: url({% static 'images/hospitalbackground.jpg' %});height: 100%">
{% include "login_menu.html" %}

<br/><br/>

    <h3 align="center" style="color: orangered"><ins>ADMIN LOGIN</ins></h3>
<Br/>

<form action="{% url 'adminlogin' %}" method="post">
    {% csrf_token %}
<table align="center" border="0">
    <tr>
        <th>USERNAME :</th>
        <td><input type="text" name="username" required></td>
    </tr>
    <tr><th><br></th></tr>
    <tr>
        <th>PASSWORD :</th>
        <td><input type="password" name="password" required></td>
    </tr>
    <tr><th><br></th></tr>
    <tr>
        <th colspan="2"><button type="submit">Login</button></th>
    </tr>
</table></form>

<br/><br/>

{% if mes %}
    {{ mes }}
{% endif %}

</div>