{% load staticfiles %}
<div style="background-image: url({% static 'images/hospitalbackground.jpg' %});height: 100%">
{% include "adminlogin_menu.html" %}
<br/><br/>

<table align="center" border="2">
    <tr style="color: orangered">
        <th width="100" height="40">Doctor ID</th>
        <th width="180" >Doctor NAME</th>
        <th width="180">Doctor SPECIALIZATION</th>
        <th width="180">Doctor CONTACT</th>
    </tr>
    {% for x in object_list %}
        <tr>
            <td height="30">{{x.doc_id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.specialization}}</td>
            <td>{{x.contact}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{#<h4 align="center"><a href="{% url 'view_patients' %}">VIEW PATIENTS</a></h4>#}