{% load staticfiles %}
<div style="background-image: url({% static 'images/hospitalbackground.jpg' %});height: 100%">
{% include "menu_user.html" %}
<br/><br/>

<table align="center" border="0">
    <h2 align="center" style="font-style: italic;color: orangered"><marquee>WELCOME  TO  NATIONAL  HOSPITAL</marquee></h2>
</table>
<h2 align="center"><img src="{% static 'images/nh.png' %}" width="290" height="290"></h2>


<br/><br/><br/>


<table align="center" border="0">
    <tr>
        <th width="100" style="font-style: initial">
            <a href="{% url "main" %}">Admin</a>
        </th>

        <th width="100">
            <a href="{% url 'doctor' %}">Doctor</a>
        </th>
    </tr>
</table>

</div>